@font-face {
    font-family: 'Cuprum';
    src: url('./Cuprum/Cuprum.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('./Oswald/Oswald.ttf');
}

@font-face {
    font-family: 'Khand Regular';
    src: url('./Khand/Khand-Regular.ttf');
}

@font-face {
    font-family: 'Khand Medium';
    src: url('./Khand/Khand-Medium.ttf');
}

@font-face {
    font-family: 'Khand Bold';
    src: url('./Khand/Khand-Bold.ttf');
}

@font-face {
    font-family: 'Khand Light';
    src: url('./Khand/Khand-Light.ttf');
}

@font-face {
    font-family: 'Khand SemiBold';
    src: url('./Khand/Khand-SemiBold.ttf');
}
